@{
    ViewBag.Title = "Acerca de";
}

<h3>Sitio Web creado por el alumno Romero Sebastián para la material LPPA de UAI.</h3>

<p>Este sitio web contiene los ejercicios dados durante las clases dicatadas en el primer cuatrimestre del 2020.</p>
