<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario de prueba de HTML5</title>
</head>
<body>
    <h1>Formulario de registro</h1>

    <form action="" method="get">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" value="" autofocus />
        <br /><br />

        <label for="email">Correo electrónico: </label>
        <input type="email" id="email" name="email" value="" />
        <br /><br />

        <label for="url">URL: </label>
        <input type="url" id="url" name="url" value="" placeholder="Escribe la URL de tu página web personal" size="50" />
        <br /><br />

        <label for="fecha">Fecha: </label>
        <input type="date" id="fecha" name="fecha" value="" />
        <br /><br />

        <label for="tiempo">Tiempo: </label>
        <input type="time" id="tiempo" name="tiempo" value="" />
        <br /><br />

        <label for="fechayhora">Fecha y hora: </label>
        <input type="datetime-local" id="fechayhora" name="name" value="" />
        <br /><br />

        <label for="mes">Mes: </label>
        <input type="month" id="mes" name="mes" value="" />
        <br /><br />

        <label for="semana">Semana: </label>
        <input type="week" id="semana" name="semana" value="" />
        <br /><br />

        <label for="numero">Número: </label>
        <input type="number" id="numero" name="numero" value="" min="-10" max="10" />
        <br /><br />

        <label for="telefono">Teléfono: </label>
        <input type="tel" id="telefono" name="telefono" value="" />
        <br /><br />

        <label for="search">Término de búsqueda: </label>
        <input type="search" id="search" name="search" value="" />
        <br /><br />

        <label>Color favorito: </label>
        <input type="color" id="color" name="color" value="" />
        <br /><br />

        <input type="submit" name="enviar" value="Enviar" />

    </form>

    <br />
    <a href="/GuiaHTML">Volver</a>
</body>
</html>