<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tabla compleja</title>
    <style>
        table, tr, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Tabla compleja</h1>
    <table>
        <tr>
            <th>Categoría</th>
            <th>Etiquetas</th>
        </tr>
        <tr>
            <td rowspan="5" align="center"><strong>Formulario</strong></td>
            <td>form</td>
        </tr>
        <tr>
            <td>button</td>
        </tr>
        <tr>
            <td>input</td>
        </tr>
        <tr>
            <td>select</td>
        </tr>
        <tr>
            <td>textarea</td>
        </tr>

        <tr>
            <td rowspan="5" align="center"><strong>Tabla</strong></td>
            <td>table</td>
        </tr>
        <tr>
            <td>tr</td>
        </tr>
        <tr>
            <td>th</td>
        </tr>
        <tr>
            <td>td</td>
        </tr>
        <tr>
            <td>caption</td>
        </tr>

        <tr>
            <td rowspan="6" align="center"><strong>Texto</strong></td>
            <td>b</td>
        </tr>
        <tr>
            <td>em</td>
        </tr>
        <tr>
            <td>i</td>
        </tr>
        <tr>
            <td>strong</td>
        </tr>
        <tr>
            <td>sub</td>
        </tr>
        <tr>
            <td>sup</td>
        </tr>
    </table>
    <br />

    <a href="/GuiaHTML">Volver</a>
</body>
</html>