
@{
    ViewBag.Title = "Index";
}

<h2>Ejercicios con HTML</h2>
<p>
    <a href="/GuiaHTML/Ejercicio1">Ejercicio 1</a><br />
    <a href="/GuiaHTML/Ejercicio2">Ejercicio 2</a><br />
    <a href="/GuiaHTML/Ejercicio3">Ejercicio 3</a><br />
    <a href="/GuiaHTML/Ejercicio4">Ejercicio 4</a><br />
    <a href="/GuiaHTML/Ejercicio5">Ejercicio 5 - Enlaces</a><br />
    <a href="/GuiaHTML/Ejercicio6">Ejercicio 6 - Listas</a><br />
    <a href="/GuiaHTML/Ejercicio7">Ejercicio 7 - Tablas 1</a><br />
    <a href="/GuiaHTML/Ejercicio8">Ejercicio 8 - Tablas 2</a><br />
    <a href="/GuiaHTML/Ejercicio9">Ejercicio 9 - Formularios 1</a><br />
    <a href="/GuiaHTML/Ejercicio10">Ejercicio 10 - Formularios 2</a><br />
    <a href="/GuiaHTML/Ejercicio11">Ejercicio 11 - Formularios 3</a><br />
</p>

