
@{
    ViewBag.Title = "EjercicioSelectores3";
}

<style>
    li a:link{
        color: red
    }

    li a:visited{
        color: darkgreen
    }

    li a:hover{
        color: white;
        background-color: red;
    }

    li a:active{
        color: orange;
        background-color: initial;
    }
</style>

<h1>Universidad de Buenos Aires</h1>

<ul>
    <li><a href="https://developers.google.com/">Presentación</a></li>
    <li><a href="https://developers.test1">Estudios</a></li>
    <li><a href="https://developers.test2">Alumnos</a></li>
    <li><a href="https://developers.test3">Deportes</a></li>
    <li><a href="https://developers.test4">Servicios</a></li>
</ul>
<br />
<a href="/GuiaCSS/Index">Volver</a>