
@{
    ViewBag.Title = "EjercicioSelectores2";
}

<style>
    .rojo{
        background-color: red;
    }

    .verde{
        background-color: green;
    }

    .azul{
        background-color: blue;
    }

    #teal{
       color: teal;
    }

    #red{
        color: red;
    }

    #blue{
        color: blue;
    }

    #orange{
        color: orange;
    }

    #purple{
        color: purple;
    }

    #olive{
        color: olive
    }

    #fuchsia{
        color: fuchsia
    }

    #green{
        color: green;
    }

</style>

<h2>Ejercicio Selectores 2</h2>

<table border="1">
    <tr id="teal"><td>teal</td><td class="rojo">teal</td><td class="verde">teal</td><td class="azul">teal</td></tr>
    <tr id="red"><td>red</td><td class="rojo">red</td><td class="verde">red</td><td class="azul">red</td></tr>
    <tr id="blue"><td>blue</td><td class="rojo">blue</td><td class="verde">blue</td><td class="azul">blue</td></tr>
    <tr id="orange"><td>orange</td><td class="rojo">orange</td><td class="verde">orange</td><td class="azul">orange</td></tr>
    <tr id="purple"><td>purple</td><td class="rojo">purple</td><td class="verde">purple</td><td class="azul">purple</td></tr>
    <tr id="olive"><td>olive</td><td class="rojo">olive</td><td class="verde">olive</td><td class="azul">olive</td></tr>
    <tr id="fuchsia"><td>fuchsia</td><td class="rojo">fuchsia</td><td class="verde">fuchsia</td><td class="azul">fuchsia</td></tr>
    <tr id="green"><td>green</td><td class="rojo">green</td><td class="verde">green</td><td class="azul">green</td></tr>
</table>
<br />
<a href="/GuiaCSS/Index">Volver</a>