
@{
    ViewBag.Title = "Ejercicios CSS";
}

<h2>Ejercicios con CSS</h2>

<p>
    <a href="/GuiaCSS/Ejercicio1">Ejercicio - Cómo se usa 1</a><br />
    <a href="/GuiaCSS/Ejercicio2">Ejercicio - Cómo se usa 2</a><br />
    <a href="/GuiaCSS/Ejercicio3">Ejercicio - Cómo se usa 3</a><br />

</p>

