
@{
    ViewBag.Title = "Ejercicios CSS";
}

<h2>Ejercicios con CSS</h2>

<p>
    <a href="/GuiaCSS/Ejercicio1">Ejercicio - Cómo se usa 1</a><br />
    <a href="/GuiaCSS/Ejercicio2">Ejercicio - Cómo se usa 2</a><br />
    <a href="/GuiaCSS/Ejercicio3">Ejercicio - Cómo se usa 3</a><br />
    <a href="/GuiaCSS/EjercicioSelectores1">Ejercicio - Selectores 1</a><br />
    <a href="/GuiaCSS/EjercicioSelectores2">Ejercicio - Selectores 2</a><br />
    <a href="/GuiaCSS/EjercicioSelectores3">Ejercicio - Selectores 3</a><br />
    <a href="/GuiaCSS/MaquetaciónDiseñoFijo">Ejercicio - Maquetación Diseño Fijo</a><br />
    <a href="/GuiaCSS/MaquetaciónDiseñoElástico">Ejercicio - Maquetación Diseño Elástico</a><br />
</p>

